.testimonial {
  padding: 2.5rem;
  background-color: $Beige;
  h1 {
    text-transform: uppercase;
    font-size: $fs-large;
    font-weight: 900;

    color: $Grayish-blue;
    text-align: center;
  }
}
.card {
  display: flex;
  justify-content: space-between;
}
