.grid {
  display: grid;
  box-sizing: border-box;
}

// Media
@media (min-width: $small-laptop) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    .grid__item {
      width: 100%;
      height: auto;
    }
  }
}
