.grid {
  display: grid;
  gap: 1rem;
  // grid-template-rows: ;
  box-sizing: border-box;
  .testimonial-card {
    padding: 1rem;
    // border: 1px solid red;
  }
}

// Media
@media (min-width: $desktop) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(200px,1fr));
  }
}
