header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 1rem;
  width: 100%;
  z-index: 100;
  background: transparent;
}
.nav-container {
  width: 90%;
  // max-width: 1440px;
  margin: 0 auto;
  padding-top: 1.5rem;
  position: relative;
  .logo {
    align-items: center;
    text-decoration: none;
    color: $White;
    h1 {
      font-family: $logo-ft;
      font-size: $fs-medium;
      text-transform: lowercase;
      font-weight: 900;
    }
  }
}
.nav {
  visibility: hidden;
  width: 100%;
  height: 0;
  position: absolute;
  z-index: 2;
}
.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}
.nav__item {
  list-style: none;
  .nav__link {
    text-decoration: none;
    color: $White;
    font-family: $body-ft;
    font-size: $fs-medium;
    font-weight: lighter;
  }
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.75;
}

// Nav Toggle
.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  background: transparent;
  color: white;
  transition: opacity 250ms ease;
  position: absolute;
  right: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

// NavLink CTA
@media (min-width: $small-laptop) {
  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
  }
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .nav-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    .logo {
      align-items: center;
      text-decoration: none;
      color: $White;
      h1 {
        font-family: $logo-ft;
        font-size: $fs-medium;

        text-transform: lowercase;
        font-weight: 900;
      }
    }
  }
  .nav__item {
    list-style: none;
    .nav__link {
      text-decoration: none;
      color: $White;
      font-family: $body-ft;
      font-size: $fs-xsmall;
      font-weight: lighter;
    }
  }

  .cta {
    font-family: $title-ft;
    color: $Very-dark-desaturated-blue;
    background-color: $White;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-out;
  }
  .nav__item:nth-last-child(1) {
    .cta {
      font-family: $title-ft;
      color: $Very-dark-desaturated-blue;
    }
  }
  .nav__item:nth-last-child(1):hover,
  .nav__item:nth-last-child(1):focus,
  .cta {
    color: $White;
  }
  .cta:hover,
  .cta:focus {
    color: $White;
    opacity: 0.6;
    // background-color: $Grayish-blue;
  }
  .nav__item + .nav__item {
    margin-left: 2rem;
  }

  .nav-toggle {
    display: none;
  }
}

@media (min-width: $desktop) {
  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
  }
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .nav-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    .logo {
      align-items: center;
      text-decoration: none;
      color: $White;
      h1 {
        font-family: $logo-ft;
        font-size: $fs-large;
        text-transform: lowercase;
        font-weight: 900;
      }
    }
  }
  .nav__item {
    list-style: none;
    .nav__link {
      text-decoration: none;
      color: $White;
      font-family: $body-ft;
      font-size: $fs-small;
      font-weight: lighter;
    }
  }

  .cta {
    font-family: $title-ft;
    color: $Very-dark-desaturated-blue;
    background-color: $White;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 1rem 1.5rem;
    transition: all 0.3s ease-out;
  }
  .nav__item:nth-last-child(1) {
    .cta {
      font-family: $title-ft;
      color: $Very-dark-desaturated-blue;
    }
  }
  .nav__item:nth-last-child(1):hover,
  .nav__item:nth-last-child(1):focus,
  .cta {
    color: $White;
  }
  .cta:hover,
  .cta:focus {
    color: $White;
    opacity: 0.6;
    // background-color: $Grayish-blue;
  }
  .nav__item + .nav__item {
    margin-left: 5rem;
  }

  .nav-toggle {
    display: none;
  }
}
