header {
  // background: $background-clr;
  padding: 1em 0;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  // box-shadow: 0 0 2px 0 $primary-clr;
  .nav--toggled {
    height: 100vh;
    overflow: hidden;
  }
}
.logo {
  width: auto;
  align-items: center;
  img {
    width: 70px;
    max-width: 100%;
    height: 100%;
  }
}
.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  z-index: 2;
  .nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
  }
}
.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__item {
  margin: auto;
  margin-top: 1em;
  display: block;
  cursor: pointer;
  .nav__link {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    // color: $primary-clr;
    text-transform: uppercase;
    font-size: $fs-small;
    font-size: 1rem;
    font-family: $title-ft;
    font-weight: bold;
    letter-spacing: 5px;
    &:hover,
    &:focus {
      opacity: 0.75;
      // display: inline-block;
      // border-color: $primary-clr;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 0%;
      height: 2px;
      left: 0;
      // background-color: $primary-clr;
      transition: $animate;
    }
    &:hover::after {
      width: 100%;
      transition: $animate;
    }
  }
}

// Hamburger
.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  //   border-radius: 50%;
  // background: $background-clr;
  //   background-color: green;
  // color: $primary-clr;
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
  top: 16px;
}
.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}
.hamburger {
  width: 50%;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  border-radius: 15%;
  // background: $primary-clr;
}
.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
  color: white;
}
.hamburger::before {
  transform: translateY(-6px);
}
.hamburger::after {
  transform: translateY(3px);
}

@media (min-width: $tablet) {
  header {
    // box-shadow: 0 0 2px 0 $primary-clr;
  }
  .nav-toggle {
    display: none;
  }
  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
    .nav__list {
      display: flex;
      margin: 0;
    }
  }
  .nav__item {
    margin: 0 0 0 1.5em;
    // .nav__link {
    //   font-size: $small-heading;
    // }
  }
}
// @media (min-width: $small-latop) {
//   .nav__link {
//     font-size: $small-heading;
//   }
// }
