// Font Family - Barlow & Fraunces
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

// Font Family for Logo
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");

// Font-family
$logo-ft: "Lato", sans-serif;
$title-ft: "Fraunces", serif;
$body-ft: "Barlow", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-ft;
}
p {
  font-family: $body-ft;
}

// h1.section-title::after {
//   content: "";
//   display: block;
//   border: 1px solid;

//   width: 30%;
//   margin: auto;
//   margin-top: 1rem;
// }
