// Font Family - Barlow & Fraunces
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

// Font-family
$title-ft: "Fraunces", serif;
$body-ft: "Barlow", sans-serif;

p {
  font-family: $body-ft;
}

// h1.section-title::after {
//   content: "";
//   display: block;
//   border: 1px solid;

//   width: 30%;
//   margin: auto;
//   margin-top: 1rem;
// }
