// CTA

// Button
.btn {
  position: relative;
}

.btn-yellow {
  position: relative;
  text-decoration: none;
  font-family: $title-ft;
  font-weight: 900;
  text-transform: uppercase;
  color: $Very-dark-desaturated-blue;
  z-index: 2;
  &::before {
    position: absolute;
    content: "";
    display: block;
    height: 10px;
    border-radius: 50px;
    top: 72%;
    left: 0;
    transform: translate(50%);
    background-color: $Yellow;
    width: 110%;
    z-index: 1;
  }
}
.btn-pink {
  position: relative;
  text-decoration: none;
  font-family: $title-ft;
  font-weight: 900;
  text-transform: uppercase;
  color: $Very-dark-desaturated-blue;
  z-index: 2;
  &::before {
    position: absolute;
    content: "";
    display: block;
    height: 10px;
    border-radius: 50px;
    top: 72%;
    left: 0;
    transform: translate(50%);
    background-color: $Soft-red;
    width: 110%;
    z-index: 1;
  }
}

// Media
