// Break-points
$small-mobile: 320px;
$medium-mobile: 375px;
$large-mobile: 475px;
$tablet: 769px;
$small-laptop: 950px;
$desktop: 1200px;
$large-desktop: 1400px;

// @media (min-width: $small-mobile) {
//   p {
//     font-size: 1rem;
//   }
// }
